.mb-100{
    margin-bottom: 100px;
}

.pt-10{
    padding-top: 10px;
}

.pt-1{
    padding: 10px;
}

.pink-bg{
    color: white;
    background-color: #FF385C;
    /* background-image: radial-gradient(circle at center center, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%) !important; */
}

.app{
    width: 100%;
}

.pointer{
    cursor: pointer;
}